<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Vesta\Payment\Block\Payment">
        <arguments>
            <argument name="config" xsi:type="object">Vesta\Payment\Model\Ui\PaymentConfigProvider</argument>
        </arguments>
    </type>
    <type name="Vesta\Payment\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="VestaPaymentAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
				<item name="customer" xsi:type="string">Vesta\Payment\Gateway\Request\CustomerDetailsBuilder</item>
				<item name="payment" xsi:type="string">Vesta\Payment\Gateway\Request\PaymentDetailsBuilder</item>
				<item name="vault" xsi:type="string">Vesta\Payment\Gateway\Request\VaultPaymentDataBuilder</item>
				<item name="transaction" xsi:type="string">Vesta\Payment\Gateway\Request\PaymentAuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VestaVaultAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
				<item name="customer" xsi:type="string">Vesta\Payment\Gateway\Request\CustomerDetailsBuilder</item>
				<item name="payment" xsi:type="string">Vesta\Payment\Gateway\Request\PaymentDetailsBuilder</item>
				<item name="transaction" xsi:type="string">Vesta\Payment\Gateway\Request\PaymentAuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
</config>
