<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Vesta>
            <general>
                <notice_enable>1</notice_enable>
                <notice_type>announcement,new_update,marketing</notice_type>
            </general>
        </Vesta>
    </default>
</config>